*~
cpd/__pycache__
.cache/
__pycache__/
/log
/CPD_Test.csv
/CPD_Test.inp
/CPD_Test_1.out
/CPD_Test_2.out
/CPD_Test_3.out
/CPD_Test_4.out
/input_CPD_Test
/test.err
/test.out
CPD.egg-info
*.inp
*.inp
*.csv
*.out
.ipynb_checkpoints
/notebook/input_CPD_test
input_*
/notebook/test.err
*.log
*.lprof
